body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../用户管理_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:62px;
    top:0px;
    width:1240px;
    height:1000px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1246px;
    height:1006px;
}

.u1 {
    position:absolute;
    left:2px;
    top:492px;
    width:1236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../用户管理_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:106px;
    top:88px;
    width:174px;
    height:72px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:72px;
}

.u3 {
    position:absolute;
    left:2px;
    top:28px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_menu {
    background-image: url('../用户管理_files/u4_menu.png');
}

.u4_menu {
    position:absolute;
    left:105px;
    top:224px;
    width:179px;
    height:75px;
}

#u4_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:72px;
}

#u5 {
    position:absolute;
    left:3px;
    top:3px;
    width:169px;
    height:65px
}

.u6_normal {
    background-image: url('../用户管理_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:164px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../用户管理_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:20px;
    width:164px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../用户管理_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:40px;
    width:164px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../用户管理_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:390px;
    top:227px;
    width:868px;
    height:637px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:874px;
    height:643px;
}

.u13 {
    position:absolute;
    left:2px;
    top:310px;
    width:864px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:620px;
    top:112px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_text_sketch {
    font-family: 'Applied Font';
}

.u15 {
    position:absolute;
    left:766px;
    top:112px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15_text_sketch {
    font-family: 'Applied Font';
}

.u16 {
    position:absolute;
    left:910px;
    top:112px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_text_sketch {
    font-family: 'Applied Font';
}

.u17 {
    position:absolute;
    left:1058px;
    top:112px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_text_sketch {
    font-family: 'Applied Font';
}

.u18_normal {
    background-image: url('../用户管理_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:1190px;
    top:88px;
    width:68px;
    height:73px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:73px;
}

.u19 {
    position:absolute;
    left:2px;
    top:28px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:390px;
    top:201px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:582px;
    top:949px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:108px;
    top:201px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:428px;
    top:201px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

